@charset "UTF-8";

@media screen and (min-width:750px)  {
    body {
        background-color: #d7dada;
    }
    nav {
        display: block;
        padding-top: 20px;
        font-weight: bolder;
        font-size: 20px;

    }
    #navegação {
        display: none;
    }
    div.img {
        background-image: url('../imagens/pexels-realtoughcandycom-11035390.jpg');
        background-size: cover;
        background-position: center center;
    }
    main > article {
        width: 50vw;
        text-align: center;
        margin: auto;
        background-color: white;
        border-radius: 5px;
        border: 7px solid rgba(0, 0, 0, 0);
        
    }
}
footer {
    height: 70px;
    line-height: 40px;
    font-size: 25px;
    font-weight: bolder;
}
