@charset "UTF-8";

@media screen and (min-width:750px) {
    body {
        background-color: rgba(130, 104, 145, 0.418);
        width: 100vw;
        height: 100vh;
    }
    #navegação {
        display: none;
    }
    nav {
        display: block;
        padding-top: 25px;
    }
    div.img {
        background-image: url(../imagens/pexels-realtoughcandycom-11035390.jpg);
        background-position: center center;
        background-size: cover;
    }
    article {
        margin: auto;
        width: 50%;
        border-radius: 5px;
        background-color: white;
        border: 8px solid rgba(0, 0, 0, 0);
    }
}
footer {
    height: 70px;
    font-size: 1.3em;
    
}