@charset "utf-8";
@font-face {
    font-family: 'BOLDER';
    src: url('../Fontes/BOLDER.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}
/* fontes que serão usadas
logo PHP: #9B20Es
  fonte de fundo do main: #F6BDFF
*/
body {
    height: 100vh;
}
header {
    background-color: #461563;
    height: 145px;
}
header > h1 {
    text-align: center;
    color: white;
    font-family: 'Madimi One', Arial, Helvetica, sans-serif;
    padding-top: 33px;
    font-size: 3em;
}
nav {
    display: none;
}
header > nav > a {
    background-color:#461563;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-weight: bolder;
    border: 8px solid #b812e200;
    border-radius: 5px;
}
header > nav > a:hover {
    background-color: white;
    color: black; 
    line-height: 1.3em;
}
main > article > p {
    line-height: 1.6em;
    text-align: justify;
    text-indent: 50px;
}
article > a {
    background-color: #461563;
}
div.img {
    background-image: url(../imagens/pexels-danny-meneses-943096.jpg);
    width: 100vw;
    height: 350px;
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
}
main > h1 {
    padding: 15px;
    font-family:'BOLDER';
    color: rgb(0, 0, 0);
    background-color: #7323a17e;
    border-radius: 0px 0px 8px 0px;
    margin-bottom: 10px;

}
article {
    width: 94vw;
    margin-left: 6px;
}
footer {
    background-color: #340550;
    height: 35px; 
    width: 100vw;  
    color: white;
    text-align: left;
    border-radius: 0px 0px 5px 0px;
    padding-top: 0px;
    font-size: 0.7em;
    line-height: 1.9em;

}
footer > a {
    text-decoration: none;
    width: 94vw;
    color: white;
    border: 7px solid rgba(0, 0, 0, 0);
}
footer > a:hover {
    background-color: white;
    color: black;
}
#navegação {
    background-color:#461563;
    display: block;
    text-align: center;
    color: white;
    padding: 10px;
}
#navegação:hover {
    background-color:#461563;
    color: white;
}
img {
    width: 100vw;
    height: 30vh; 
    margin-bottom: -4px;
}
a > img:hover {
    transition: 0.5s;
    animation:infinite
}
#chamada {
background-color: #461563;
color: white;
font-family:cursive;
font-size: 1.5em;
width: 100vw;
border-radius: 0px 5px 0px 0px;
line-height: 1.9em;
}
.LK {
     text-decoration: none;
}
.LK:hover {
    background-color: #5e2281;
    color: white;
    border: 5px solid rgba(137, 43, 226, 0);
    transition: 0.2s;
}

